# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/
doc/website/api/

# Remove Jekyll bundle build
doc/website/_site/

# Other stuff
tmp*
*vcd
pubspec.lock
.vscode