name: rohd
description: The Rapid Open Hardware Development (ROHD) framework, a framework for describing and verifying hardware
version: 0.3.0
homepage: https://github.com/intel/rohd
repository: https://github.com/intel/rohd
issue_tracker: https://github.com/intel/rohd/issues
documentation: https://intel.github.io/rohd/rohd/rohd-library.html

environment:
  sdk: '>=2.14.0 <3.0.0'

dependencies:
  collection: ^1.15.0
  meta: ^1.3.0
  logging: ^1.0.1
  test: ^1.17.3

dev_dependencies:
  lints: ^1.0.1