name: rohd
version: 0.5.2
description: The Rapid Open Hardware Development (ROHD) framework, a framework for describing and verifying hardware.
homepage: https://intel.github.io/rohd-website
repository: https://github.com/intel/rohd
issue_tracker: https://github.com/intel/rohd/issues
documentation: https://intel.github.io/rohd-website/docs/sample-example/

environment:
  sdk: '>=2.19.0 <4.0.0'

dependencies:
  collection: ^1.15.0
  logging: ^1.0.1
  meta: ^1.3.0
  test: ^1.17.3

dev_dependencies:
  benchmark_harness: ^2.2.0
  yaml: ^3.1.1
