name: Build ROHD devtool
on:
  push:
    branches:
      - main

# Top-level default, no permissions
permissions: {}

jobs:
  build-devtool:
      name: Build Devtools
      permissions:
        contents: write
        pull-requests: write
      timeout-minutes: 30
      runs-on: ubuntu-22.04
      steps:
        - uses: actions/checkout@v2

        - name: Setup Flutter SDK
          uses: flutter-actions/setup-flutter@v2
          with:
            channel: beta
            version: 3.18.0-0.2.pre

        - name: Run Flutter Test
          run: tool/gh_actions/devtool/run_devtool_test.sh

        - name: Build Static Web
          run: tool/gh_actions/devtool/build_web.sh

        - name: Create artifact branch and commit
          run: |
            git config --global user.name "${GITHUB_ACTOR}"
            git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
            git fetch origin
            git checkout -b artifacts
            git pull origin main
            git add .
            git add -f extension/*
            git commit -m "Add build artifacts"

        - name: Push changes
          uses: ad-m/github-push-action@master
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            branch: artifacts
            force: true
