name: Docs
on:
  push:
    branches: [ main ]

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1

      - name: Install dependencies
        run: dart pub get
        
      - name: Analyze project source
        run: dart analyze

      # build docs into "public" folder
      - name: build dart docs
        run: dart doc .

      # deploy HTML to a branch named "docs"
      - name: deploy to branch
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: docs
          folder: doc/api
